absl-py==0.11.0
amqp==5.0.5
asgiref==3.3.1
astroid==2.4.2
astunparse==1.6.3
beautifulsoup4==4.6.0
billiard==3.6.3.0
bs4==0.0.1
cachetools==4.2.1
celery==5.0.5
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
colorama==0.4.4
dj-database-url==0.5.0
Django==3.1.6
django-timezone-field==4.1.1
djangorestframework==3.12.2
flatbuffers==1.12
gast==0.3.3
gevent==21.1.2
google-auth==1.25.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
greenlet==1.0.0
grpcio==1.32.0
gunicorn==20.0.4
h5py==2.10.0
idna==2.10
isort==5.7.0
joblib==1.0.0
JPype1==1.2.0
Keras-Preprocessing==1.1.2
kombu==5.0.2
konlpy==0.5.2
krwordrank==1.0.3
kss==2.4.0.1
lazy-object-proxy==1.4.3
lxml==4.6.2
Markdown==3.3.3
mccabe==0.6.1
numpy==1.19.5
oauthlib==3.1.0
opt-einsum==3.3.0
pandas==1.2.1
Pillow==8.1.0
prompt-toolkit==3.0.14
protobuf==3.14.0
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pylint==2.6.0
PySocks==1.7.1
python-crontab==2.5.1
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7
scikit-learn==0.24.1
scipy==1.6.0
selenium==3.141.0
six==1.15.0
sqlparse==0.4.1
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
wheel==0.35
tensorflow-cpu==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.2
tweepy==3.10.0
typing-extensions==3.7.4.3
urllib3==1.26.3
vine==5.0.0
wcwidth==0.2.5
Werkzeug==1.0.1
whitenoise==5.2.0
wrapt==1.12.1
zope.event==4.5.0
zope.interface==5.2.0

