{% extends 'base.html' %}

{% block content %}
<!-- 제품 기본 정보 -->
<div class="mb-5 d-flex flex-column align-items-center">
    <h3 id="review_name" class="mb-3">{{ object.name }}</h3>
    <img class="mb-3 img-thumbnail" style="display: block;" src={{ object.thumbnail.url }} alt="{{ object.name }} 이미지">
    <a href="{{ object.url }}"><button class="btn btn-outline-info">구매하기</button></a>
</div>

<!-- vue 앱 -->
<div id='app'>
    <!-- 키워드 컨테이너 -->
    <div class="py-3 my-5 container border-top">
        <div class="row">
            <!-- 긍정 키워드 -->
            <div class="col-md-6 col-sm-12 positive">
                <h4 class="my-3 pl-2">긍정 키워드</h4>
                <div class="d-flex flex-wrap">
                    {% for positive_keyword in object.positive_keyword.all %}
                    <button v-on:click="prepare_fetch($event)"
                    class="positive keyword btn btn-success rounded-pill m-2" 
                    style="height: 2.5rem;">{{ positive_keyword }}</button>
                    {% empty %}
                    <div>해당하는 키워드가 없습니다</div>
                    {% endfor %}
                </div>
            </div>

            <!-- 부정 키워드 -->
            <div class="col-md-6 col-sm-12 negative">
                <h4 class="my-3 pl-2">부정 키워드</h4>
                <div class="d-flex flex-wrap">
                    {% for negative_keyword in object.negative_keyword.all %}
                    <button v-on:click="prepare_fetch($event)" 
                    class="negative keyword btn btn-danger rounded-pill m-2" 
                    style="height: 2.5rem;">{{ negative_keyword }}</button>
                    {% empty %}
                    <div>해당하는 키워드가 없습니다</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- 키워드에 해당하는 리뷰 컨테이너 -->
    <div class="py-3 my-5 container border-top">
        <!-- 컨테이너 헤딩 -->
        <h4 v-if="!selected_keyword" class="text-center">
            키워드를 클릭하면 해당 키워드를 포함하는 리뷰를 보여줍니다
        </h4>
        <h4 v-else class="text-center">
            "[[ selected_keyword ]]" 포함하는 리뷰 문장
        </h4>

        <!-- 로딩 spinner -->
        <div v-if="loading" class="position-fixed"
        style="z-index: 999; top: 0; left: 0; bottom:0; right:0; margin: auto; width: 3rem; height: 3rem;">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
              <span class="sr-only">Loading...</span>
            </div>
        </div>


        <!-- 클릭한 키워드를 포함하는 리뷰 -->
        <div v-if="selected_keyword" id="sentence_container" class="container my-3">
            <div v-if="errored">오류가 있어 데이터를 가져오지 못 했습니다</div>
            <div v-for="sentence in sentences.results">
                <div class="py-3 border-bottom">[[ sentence.content ]]</div>
            </div>
        </div>

        <!-- 페이징 -->
        <nav v-if="selected_keyword" aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <!-- 이전 페이지 -->
                <li v-if="sentences.previous" class="page-item">
                    <button class="page-link" v-on:click="fetch_prev" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </button>
                </li>
                <!-- 다음 페이지 -->
                <li v-if="sentences.next" class="page-item">
                    <button class="page-link" v-on:click="fetch_next" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}

{% block style %}
<style>
    .clicked {
        background-color: rgb(158, 158, 158);
    }
    .clicked:hover, .clicked:focus {
        background-color: rgb(85, 85, 85);
    }
</style>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    $(document).ready(function() {
        $(".keyword").click(function() {
            $(".keyword").removeClass("clicked");
            $(this).toggleClass("clicked");
        });
    })
    

    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = "X-CSRFTOKEN";

    var app = new Vue({
        delimiters: ["[[", "]]"],
        el: '#app',
        data: {
           selected_keyword: '',
           review_name: '',
           positive: '',
           sentences: null,
           errored: false,
           loading: false
        },
        methods: {
            prepare_fetch: function(event) {
                /* 키워드에 해당하는 리뷰를 fetch하기 위한 data 설정 */
                this.selected_keyword = event.target.textContent
                this.review_name = document.getElementById("review_name").textContent
                if (event.target.className.includes('positive')) {
                    this.positive = 'positive'
                } else {
                    this.positive = 'negative'
                }
                this.loading = true
                app.fetch_sentences_with_keyword()
            },
            fetch_sentences_with_keyword: function() {
                /* 키워드에 해당하는 리뷰를 fetch */
                axios.get('/api/get/review/sentences', {
                    params: {
                        keyword: app.selected_keyword,
                        review_name: app.review_name,
                        positive: app.positive
                    }
                })
                .then(function(response) {
                    app.sentences = response.data
                })
                .catch(function(error) {
                    console.log(error)
                    app.errored = true
                })
                .finally(function() {
                    app.focus_to_review()
                    app.loading = false
                })
            },
            fetch_prev: function() {
                /* "이전" 페이지에 해당하는 데이터 fetch */
                app.loading = true
                axios.get(app.sentences.previous)
                .then(function(response) {
                    app.sentences = response.data
                })
                .catch(function(error) {
                    app.errored = true
                })
                .finally(function() {
                    app.focus_to_review()
                    app.loading = false
                })
            },
            fetch_next: function() {
                /* "다음" 페이지에 해당하는 데이터 fetch*/
                app.loading = true
                axios.get(app.sentences.next)
                .then(function(response) {
                    app.sentences = response.data
                })
                .catch(function(error) {
                    app.errored = true
                })
                .finally(function() {
                    app.focus_to_review()
                    app.loading = false
                })
            },
            focus_to_review: function() {
                var sentence_container = document.querySelector('#sentence_container')
                var navbar = document.querySelector('.navbar')
                var top_pos = sentence_container.getBoundingClientRect().top - navbar.getBoundingClientRect().bottom + window.scrollY
                window.scrollTo({top: top_pos, behavior: 'smooth'})
            }
        }
    });
</script>
{% endblock %}