{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta name="description" content="리뷰 요약 사이트입니다. 리뷰 중에 긍정 키워드, 부정 키워드를 추출해 보여줍니다. 등록 가능한 url에 한해 리뷰를 등록 요청할 수 있습니다.">
{% endblock %}

{% block content %}
<!-- 최신 리뷰집 5개 -->
<div class="mb-5">
    <h4 class="mb-4">최근 올라온 리뷰집</h4>
    <div class="card-deck mb-5">
        {% for recent_reviewzip in recent_reviewzips %}
        <a class="card shadow mb-5 text-reset text-decoration-none" href="{% url 'reviewzip:detail' recent_reviewzip.id %}">
            <img src={{ recent_reviewzip.info.thumbnail.url }} class="card-img-top" style="height:70%;">
            <div class="card-body">
                <h5 class="card-title text-truncate">
                    {{ recent_reviewzip.info.name }}
                </h5>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<!-- 조회수 높은 리뷰집 5개 -->
<div class="mb-5">
    <h4 class="mb-4">인기 있는 리뷰집</h4>
    <div class="card-deck mb-5">
        {% for popular_reviewzip in popular_reviewzips %}
        <a class="card shadow mb-5 text-reset text-decoration-none" href="{% url 'reviewzip:detail' popular_reviewzip.id %}">
            <img src={{ popular_reviewzip.info.thumbnail.url }} class="card-img-top" style="height:70%;">
            <div class="card-body">
                <h5 class="card-title text-truncate">
                    {{ popular_reviewzip.info.name }}
                </h5>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}
