{% extends 'base.html' %}

{% block content %}

{% if object_list.count > 0 %}
<div class="card-deck mb-5">
    {% for review in object_list %}
    <a class="card shadow mb-5" href="{% url 'reviewzip:detail' review.id %}">
        <img src={{ review.thumbnail.url }} class="card-img-top" style="height:70%;">
        <div class="card-body">
            <h5 class="card-title text-truncate">
                {{ review.name }}
            </h5>
        </div>
    </a>
    {% endfor %}
</div>
{% else %}
<div class="m-5 d-flex flex-column align-items-center">
    <h2 class="mb-5">해당 제품에 대한 리뷰집이 존재하지 않습니다</h2>
    <h5>리뷰집 데이터 추가를 원하신다면 리뷰가 있는 제품 페이지 url을 입력 후 버튼을 눌러주세요 </h5>
    <form action="" method="post" class="form-group my-2 col-md-8 col-sm-12" style="width: 100%;">
        {% csrf_token %}
        <input type="text" id="product_url" name="product_url" 
        class="form-control my-2" placeholder="제품 페이지 url">
        <button class="btn btn-primary mx-auto" type="submit" style="display:block;">추가 요청</button>
    </form>
</div>
{% endif %}
{% endblock %}