{% extends 'base.html' %}

{% block content %}

{% if object_list.count > 0 %}
<!-- 검색 결과 -->
<div class="card-deck mb-5">
    {% for review in page_obj %}
    <a class="card shadow-sm mb-5 text-decoration-none text-reset"  style="flex-basis: 30%;"
    href="{% url 'reviewzip:detail' review.id %}">
        <img src={{ review.thumbnail.url }} class="card-img-top" style="height:70%;">
        <div class="card-body">
            <p class="card-title">
                {{ review.name }}
            </p>
        </div>
    </a>
    {% endfor %}
</div>

<!-- 페이징 -->
<nav aria-label="Page navigation">
    <span class="d-block text-center mb-2">
        {{ page_obj.paginator.num_pages }} 페이지 중 {{ page_obj.number }} 페이지
    </span>
    <ul class="pagination justify-content-center">
        <!-- 이전 페이지 -->
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        {% for page_number in page_obj.paginator.page_range %}
            {% if page_number == page_obj.number %}
            <li class="page-item active"><a class="page-link" style="color:white;" href="?page={{ page_number }}">
                {{ page_number }}
            </a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ page_number }}">
                {{ page_number }}
            </a></li>
            {% endif %}
        {% endfor %}

        <!-- 다음 페이지 -->
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
<!-- 검색 결과가 없을 때 -->
{% else %}
<div class="m-5 d-flex flex-column align-items-center">
    <h2 class="mb-5">해당 제품에 대한 리뷰집이 존재하지 않습니다</h2>
    <h5>리뷰집 데이터 추가를 원하신다면 리뷰가 있는 제품 페이지 url을 입력 후 버튼을 눌러주세요 </h5>
    <form action="" method="post" class="form-group my-2 col-md-8 col-sm-12" style="width: 100%;">
        {% csrf_token %}
        <input type="text" id="product_url" name="product_url" 
        class="form-control my-2" placeholder="제품 페이지 url">
        <button class="btn btn-primary mx-auto" type="submit" style="display:block;">추가 요청</button>
    </form>
</div>
{% endif %}
{% endblock %}